
*{
    margin: 0px;
    padding: 0px;
}
body{
    background:linear-gradient(to left,rgb(152, 21, 21),rgb(175, 129, 23));
}
.port{
    
    margin: 30px 30px 30px 30px;
}

h1{
    background-color: darkturquoise;
    width: 100%;
    height: 300px;
    display: block;

}
h2{
    background-color: rgb(244, 241, 242);
    width: 500px;
    height: 500px;
    display: none;
}
p{
    background-color: coral;
    width: 500px;
    height: 500px;
    display: inline-block;
    
}
span{
    background-color: brown;
    display: inline;
   
}